* {
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
}

body {
    background-image: linear-gradient(90deg, #0007, #0000, #0007);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none !important;
}

body > p {
    position: absolute;
    font-size: small;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
}

.content > li > ul {
    display: none;
}

.content > li > button {
    background-color: #0000;
}

.content > li {
    list-style-type: disc;
}

.content > li:focus-within {
    list-style-type: circle;
}

.content > li:focus-within > ul {
    display: block;
}

.content > li > ul {
    list-style: none;
    list-style-position: outside;
}